.profile{
    padding-top: 85px;
    text-align: center;
    width:100%;
    height:100%;
    background-color: #bebebe;
}

.p{
    padding:0px 0px 0px 0px;
    margin:0;
    font-family: FontAwesome;
    font-size: medium;
    color: #9d9d9d;

}

.profileContent{
    position: inherit;
}

.messageError{
    color: #b92c28;
}

.text1{
    font-weight: bold;
    font-size: 35px;
}

.text2{
    line-height: 50%;
    font-weight: normal;
    font-size: 30px;
}

.text3{
    line-height: 150%;
    font-size: 17px;
}

.h_line{
    margin-top: 15px;
    margin-bottom: 10px;
    width:100%;
    height:1px;
    background: #101010;
    opacity: 0.3;
}

.textTemporal{
    font-size: 50px;
    font-family: FontAwesome;
    vertical-align: middle;
}